<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>visit-busan 관리자 페이지</title>
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/static/css/admin/reset.css">
  <link rel="stylesheet" href="/static/css/admin/common.css">
  <link rel="stylesheet" href="/static/css/admin/gnb.css">
  <link rel="stylesheet" href="/static/css/admin/lnb.css">
  <link rel="stylesheet" href="/static/css/admin/user/user_common.css">
  <link rel="stylesheet" href="/static/css/admin/user/manage/user_info.css">
  <link rel="stylesheet" href="/static/css/admin/user/user_info_modal.css">

</head>

<body>
  <div id="container">
    <header class="header-container">
      <div class="brand-logo">
        <a href="/admin/dashboard"><img src="/static/image/logo.png" alt=""></a>
      </div>
      <ul class="account-container">
        <li><a href="/logout">로그아웃</a></li>
      </ul>
    </header>

    <main class="main-container">
      <aside class="left-aside">
        <div class="aside-title">
            <h1 class="title-text-h1">관리자 시스템</h1>
        </div>
        <nav class="main-menu">
            <h2 class="title-text-h2">대시보드</h2>
            <ul class="sub-menu">
                <a href="/admin/dashboard"><li>대시보드</li></a>
            </ul>
            <h2 class="title-text-h2">관광정보 관리</h2>
            <ul class="sub-menu">
                <a href="/admin/tour/category"><li>관광지 분류</li></a>
                <a href="/admin/tour/manage/tour_search"><li>관광정보 관리</li></a>
                <a href="/admin/tour/manage/tour_tag"><li>관광태그 관리</li></a>
            </ul>
            <h2 class="title-text-h2">사용자 관리</h2>
            <ul class="sub-menu">
                <a href="/admin/user/info"><li>사용자 정보 관리</li></a>
                <a href="/admin/user/role"><li>사용자 권한 관리</li></a>
            </ul>
        </nav>
    </aside> 
      <div class="content-container">
        <h1 class="content-title">사용자 정보 관리</h1>
        <div class="content-main">
          <div class="content-items">
            <div class="left-items">
              <a href=""><button type="button" class="create-button">등록</button></a>
              <button type="button" class="delete-button">삭제</button>
            </div>
            <div class="right-items">
              <select class="role-select">
                <option value="">전체조회</option>
                <option value="관리자">ADMIN</option>
                <option value="작가">WRITER</option>
                <option value="일반">USER</option>
              </select>
              <select class="condition-select">
                <option value="">전체조회</option>
                <option value="username">아이디</option>
                <option value="name">사용자 이름</option>
              </select>
              <input type="search" class="search-input" placeholder="검색어를 입력하세요.">
              <button type="button" class="search-button">검색</button>
            </div>
          </div>
          <!-- 사용자 권한 수정 모달 -->
          <div id="modal" class="modal-overlay">
            <div class="modal-window regist">
              <div class="modal-header">
                <h2 class="modal-title">사용자 권한 수정</h2>
                <button class="close-button" onclick="offDisplay()">x</button>
              </div>
              <div class="modal-body">
                <form>
                  <table>
                    <colgroup>
                      <col>
                      <col>
                    </colgroup>
                    <tr>
                      <th>사용자 이름</th>
                      <td class="modification-role" disabled>1</td>
                    </tr>
                    <tr>
                      <th>수정할 권한</th>
                      <td>
                        <select id="updateAdmin" class="role-select modification-role">
                          <option value="">선택</option>
                          <option value="">없음</option>
                          <option value="1">ADMIN</option>
                        </select>
                        <select id="updateWriter" class="role-select modification-role">
                          <option value="">선택</option>
                          <option value="">없음</option>
                          <option value="3">WRITER</option>
                        </select>
                        <select id="updateUser" class="role-select modification-role">
                          <option value="2">USER</option>
                        </select>
                      </td>
                    </tr>

                    <tr>
                      <th>등록일</th>
                      <td disabled>2023-02-27 14:00:00</td>
                    </tr>
                    <tr>
                      <th>수정일</th>
                      <td disabled>2023-02-27 14:00:00</td>
                    </tr>
                  </table>
                </form>
              </div>
              <div class="modal-footer">
                <button class="update-button">등록</button>
                <button class="cancel-button" onclick="offDisplay()">취소</button>
              </div>
            </div>
          </div>
          <div class="table-container">
            <table class="content-table">
              <thead>
                <tr>
                  <th><input type="checkbox" class="delete-checkall"></th>
                  <th value="">아이디</th>
                  <th value="">이름</th>
                  <th value="">권한</th>
                  <th value="">관리</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th><input type="checkbox"></th>
                  <th>testAdmin</th>
                  <th>테스터</th>
                  <th>writer</th>
                  <th>
                    <button class="table-button modification-button" onclick="onDisplay()">권한수정</button>
                    <button type="button" class="table-button delete-buttons">삭제</button>
                  </th>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="page-controller">
            <a href="" class="disabled">이전</a>
            <ul class="page-numbers">
              <a href=""><li>1</li></a>
              <a href=""><li>2</li></a>
              <a href=""><li>3</li></a>
              <a href=""><li>4</li></a>
              <a href=""><li>5</li></a>
            </ul>
            <a href="">다음</a>
          </div>
        </div>
      </div>
    </main>
  </div>
  <script src="/static/js/admin/user/manage/user_info.js"></script>
  <script src="/static/js/admin/user/manage/update_role.js"></script>
</body>

</html>