body {
  background-color: white;
}

.main-container {
  background-color: rgb(255, 255, 255);
  width: 1400px;
  height: 1700px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-img {
  background: url(/static/image/gwangan.jpg);
  background-size: 100%;
  width: 1400px;
  height: 300px;
}

.category-container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: rgb(255, 255, 255);
  width: 550px;
  height: 60px;
  margin-top: 60px;

  border: 0px solid #ccc;
  border-radius: 15px;
}

.category-item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 18%;
  height: 40px;
  background-color: rgb(255, 255, 255);

  border: 1px solid #ccc;
  border-radius: 30px;

  font-size: 20px;
  /* font-weight: 600; */
}

.post-count {
  margin-top: 10px;
}

.on {
  background-color: #0077cb;
  color: white;
  font-weight: 500;
}

.nav-bar {
  width: 1400px;
  height: 60px;
  margin: 30px 24px 0;
  background-color: white;
}

.nav-inner {
  display: flex;
  justify-content: space-between;
  width: 1400px;
}

.left-m {
  display: flex;
}

.home-left {
  width: 400px;
  height: 60px;
  /* padding: 0 20px 0 20px; */
}

.home-nth {
  margin-right: 20px;
  font-size: 17px;
}

.right-m {
  display: flex;
  margin: 0;
}

.home-right :nth-child(0),
.home-right :nth-child(1),
.home-right :nth-child(2),
.home-right :nth-child(3) {
  margin-right: 30px;
  padding: 10px;
}

.home-right:last-child {
  margin: 0;
}

.category-item label {
  font-size: 18px;
}

.input-container {
  display: flex;
  justify-content: space-between;

  width: 400px;
  height: 40px;
  background-color: rgb(255, 255, 255);

  margin-top: 70px;

  border-bottom: 2px solid black;
}

.sort-item-group1 {
  display: flex;
}

.sort-item-group2 {
  display: flex;
  margin-top: 13px;
  font-size: 20px;
}

.menu-icon1,
.menu-icon2 {
  width: 30px;
  height: 30px;
  padding: 5px;
  border: 1px solid #dbdbdbdb;

  margin-top: 5px;
  margin-right: 5px;
}

.menu-icon1 {
  margin-left: 50px;
}

.menu-icon2 {
  margin-right: 15px;
}

.search-value {
  background-color: white;

  border: 0px;
  width: 85%;
  height: 100%;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1400px;
  height: 1000px;
  background-color: rgb(255, 255, 255);
  margin-top: 70px;
}

.content-header {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 50px;
  /* margin-top: 100px; */
}

.content-header b,
span {
  font-size: 18px;
}

.content-header span {
  color: darkorange;
}

.sort-container {
  display: flex;

  width: 250px;
  height: 70px;
  /* float: right; */
  /* margin-left: 120px; */
}

.sort-container span {
  color: black;
  cursor: pointer;
}

.sort-value {
  margin-right: 5px;
  /* border-right: 2px solid black; */
  font-size: 15px;
}

.able {
  font-weight: 800;
}

.search-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.search-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 50px;
  margin-right: 10px;

  width: 340px;
  cursor: pointer;
}

.search-item:hover .search-name {
  color: blue;
}

.search-img {
  width: 100%;
  height: 240px;

  border-radius: 10px;
}

.search-name {
  margin-top: 20px;
  font-size: 20px;
}

.info-container {
  display: flex;

  margin-top: 20px;
}

.info-container p {
  padding: 5px 20px;
}

.post-register {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.post-register-button {
  width: 60px;
  height: 30px;
  padding: 5px;
  border: 1px solid #dbdbdbdb;

  margin-top: 5px;
  margin-right: 20px;
}

.page-controller {
  margin: 0 auto;

  display: flex;
  justify-content: space-between;

  height: 50px;
}

.page-controller a{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  
  border: 1px solid #ccc;
  margin-bottom: 100px;
  margin-right: 10px;
  font-size: 20px;
}

.page-controller a:hover {
  background-color: #202020;
  color: white;
}

.page-controller .disabled {
  background-color: #202020;
  color: white;
  cursor: default;
}

.page-numbers {
  display: flex;
  justify-content: space-between;

  height: 100%;
}

.page-numbers a{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;
  background-color: rgb(255, 255, 255);

  border: 1px solid #ccc;
  margin-bottom: 100px;
  margin-right: 10px;
  font-size: 20px;
}

button:disabled:hover {
  background-color: white;
}
