<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/reset.css" />
    <link rel="stylesheet" href="/static/css/common.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/search/search.css" />
    <link rel="stylesheet" href="/static/css/post/index.css">
    <link rel="stylesheet" href="/static/css/search/information-1.css" />
</head>

<body>
    <div id="container">
        <header class="header-container">
            <h1 class="brand-logo">
                <a href="#"><img src="/static/image/logo.png" alt="" /></a>
            </h1>
            <ul class="menu-container">
                <li><a href="#">부산에가면</a></li>
                <li><a href="#">추천여행</a></li>
            </ul>
            <ul class="account-container">
                <li><a>로그인</a></li>
                <li><a>회원가입</a></li>
            </ul>
        </header>

        <main class="main-container" style="margin-top: 30px;">
            <div class="main-img"></div>
            <section class="nav-bar">
                <div class="nav-inner">
                    <ul class="left-m">
                        <li class="home-left" style="width: 800px; padding-left: 30px;">
                            <i class="fa-solid fa-house home-nth"></i>
                            <i class="home-nth">></i>
                            <a href="#" class="home-nth">부산에가면</a>
                            <i class="home-nth">></i>
                            <a href="#" class="home-nth">명소</a>
                            <i class="home-nth">></i>
                            <a href="#" class="home-nth">상세정보</a>
                        </li>
                        <!-- <li class="depth">
                <a href="">명소</a>
              </li> -->
                    </ul>
                    <ul class="right-m">
                        <li class="home-right" style="padding-right: 80px;">
                            <i class="fa-solid fa-text-height"></i>
                            <i class="fa-solid fa-link"></i>
                            <i class="fa-solid fa-share-from-square"></i>
                            <i class="fa-solid fa-print"></i>
                        </li>
                    </ul>
                </div>
            </section>
            <!-- title-container -->
            <div class="title-container">
                <div class="title-inner">
                    <h4 class="tit">복합문화공간 현대 모터스튜디오 부산</h4>
                    <p class="tit-sub">글‧사진 여행작가 문철진</p>
                </div>
            </div>
            <div class="main-content">
                <div class="main-img">
                    <img src="/static/image/search-information.jpg" alt="" style="border-radius: 5px;">
                    <div class="main-info">
                        <div class="post-info">
                            <b>평점<img src="/static/image/sub05_sec0101.jpg" alt=""></b><span
                                class="post-rating">5.0</span> │
                            <b>조회</b> <span class="post-view">3,477</span> │ <b>리뷰</b> <span
                                class="post-review">0</span> │
                        </div>
                        <div class="post-activity">
                            <button type="button" class="like-button">♡좋아요(<span class="post-like">0</span>)</button>
                        </div>
                    </div>
                </div>
                <ul class="main-navigation">
                    <li><a href="#"><b>상세정보</b></a></li>
                    <li><a href="#"><b>이용 / 교통안내</b></a></li>
                    <li><a href="#"><b>평점 / 리뷰</b></a></li>
                </ul>
                <div class="main-article">
                    <div class="main-article-title">
                        옛 고려철강 공장 건물을 문화시설로 꾸민 F1963에 현대자동차의 '현대 모터스튜디오 부산'이 들어섰습니다. 디자인 콘텐츠를 경험할 수 있는 현대 모터스튜디오로 지금 함께
                        떠나보시죠!
                        <br>
                    </div>
                    <ul class="main-article-video">
                        <li>
                            <video
                                src="https://vod.visitbusan.net:8080/upload/encoding/video/2022/09/61c47c4e613545fdbc46efa3be829718_media_1280x720.mp4"
                                controls="" loop="" playsinline=""
                                poster="https://vod.visitbusan.net:8080//upload/encoding/video/2022/09/61c47c4e613545fdbc46efa3be829718_mplayer1_1.png">
                                Sorry, your browser doesn't support embedded videos,
                                but don't worry, you can <a href="videofile.ogg">download it</a>
                                and watch it with your favorite video player!
                            </video>
                        </li>
                    </ul>
                </div>
                <div class="main-photo">
                    <ul class="main-photo1">
                        <li><img src="/static/image/main-image1.jpg" alt=""></li>
                        <li><img src="/static/image/main-image2.jpg" alt=""></li>
                    </ul>
                </div>
                <div>
                    <p>Design to Live by</p>
                    현대 모터스튜디오 부산은 수도권에 집중되어 있는 디자인 관련 콘텐츠를 경험할 수 있도록 기획됐다. 인간의 욕구를 반영하면서 삶을 풍요롭게 하는 디자인의 힘에 주목해 'Design
                    to Live by'를 주제로 잡았다. 다양한 디자인 전시를 선보일 예정이며, 이와 연계된 다채로운 고객경험프로그램을 제공한다.
                    <br><br>
                    2016년 부산비엔날레 전시장으로 활용된 뒤 복합문화공간으로 재탄생한 F1963은 원래 고려제강의 옛 철강공장 부지였다. 이를 활용해 현대 모터스튜디오 부산 건물도 와이어와 철골을
                    핵심소재로 활용해 미래적이면서도 도시적인 분위기를 물씬 풍긴다.﻿
                </div>
                <div class="main-photo">
                    <ul class="main-photo1">
                        <li><img src="/static/image/main-image3.jpg" alt=""></li>
                        <li><img src="/static/image/main-image4.jpg" alt=""></li>
                        <li><img src="/static/image/main-image5.jpg" alt=""></li>
                        <li><img src="/static/image/main-image6.jpg" alt=""></li>
                    </ul>
                </div>
                <div>
                    <p>현대 모터스튜디오 부산</p>
                    4층으로 된 건물은 길쭉한 직사각형 모양이다. 1층에선 LED 크리에이티브 월이 먼저 관람객을 맞이한다. 디지털 미디어 작품을 연중 만날 수 있는 곳인데 지금은 영국 디지털 전문
                    아트 그룹 'Universal Everything'의 작품들을 보여준다.
                    <br><br>
                    2층은 전시공간이다. 현대자동차 만의 디자인 철학과 미래 지향성을 반영한 전시가 펼쳐진다. 첫 전시였던 'REFLECTIONS IN MOTION' 이후 지금은 네 번째 기획 전시인
                    'Habitat One'이 진행되고 있다. 미래 세대를 위한 주거 솔루션을 통해 지속가능한 미래를 상상해보는 작품들을 만날 수 있다. 전시실 한편엔 디자인굿즈들을 판매하는 샵도
                    운영한다.﻿
                </div>
                <div class="main-photo">
                    <ul class="main-photo1">
                        <li><img src="/static/image/main-image7.jpg" alt=""></li>
                        <li><img src="/static/image/main-image8.jpg" alt=""></li>
                        <li><img src="/static/image/main-image9.jpg" alt=""></li>
                        <li><img src="/static/image/main-image10.jpg" alt=""></li>
                    </ul>
                </div>
                <div>
                    3층은 2층 전시를 내려다볼 수 있도록 설계됐다. 추가적인 전시공간과 휴식공간도 갖췄다. 4층의 러닝존에선 디자인과 관련된 서적과 워크숍 공간이 마련되어 있다. 자동차 폐자재를
                    활용한 업사이클링 DIY와 어린이들을 위한 디자인, 퍼즐 워크숍 등 다채로운 프로그램들이 진행된다.
                    편의시설도 알차다. 4층에 위치한 '마이클 어반팜테이블'은 해비치 호텔 앤드 리조트가 서울 종로에서 운영하는 '마이클 바이 해비치'의 첫 분점이다. 부산 인근에서 나는 재철 재료로
                    '뉴 아메리칸 퀴진'을 선보인다. 1층에 자리한 '카페 바이 해비치'에선 신선한 커피와 시그니처 주스를 맛볼 수 있다.﻿
                </div>
                <div class="main-photo">
                    <ul class="main-photo1">
                        <li><img src="/static/image/main-image11.jpg" alt=""></li>
                        <li><img src="/static/image/main-image12.jpg" alt=""></li>
                        <li><img src="/static/image/main-image13.jpg" alt=""></li>
                        <li><img src="/static/image/main-image14.jpg" alt=""></li>
                    </ul>
                </div>
                <div>
                    <p>F1963</p>
                    현대 모터스튜디오 부산을 알차게 즐겼다면 1층으로 내려와 F1963을 꼼꼼하게 둘러보자. 모터스튜디오 2층에서 계단을 따라 내려오면 꽃과 나무가 가득한 가드닝 스튜디오 '화수목'이
                    기다리고 있다. 식물을 주제로 다양한 활동과 클래스를 운영한다. 화수목 앞으론 '달빛정원'이 펼쳐진다. 다양한 수목들이 사계절 아름다운 모습을 보여주는 예쁜 공간으로 사진가들의
                    발길이 잦다. 정원 한편에 있는 빨간 벽돌집은 '유리온실'이다. 유리 천장을 통해 들어오는 나른한 햇살과 함께 독서와 사색을 즐길 수 있는 공간이다.
                    <br><br>
                    예술 전문 도서관인 'F1963 도서관'도 놓치지 말자. 미술과 건축, 사진, 디자인, 음악 등 예술과 관련된 다양한 도서와 자료들을 만날 수 있다. 회원제로 운영되며 비회원은
                    일일 이용료를 내고 들어갈 수 있다.
                </div>
                <div class="main-photo">
                    <ul class="main-photo1">
                        <li><img src="/static/image/main-image16.jpg" alt=""></li>
                        <li><img src="/static/image/main-image17.jpg" alt=""></li>
                        <li><img src="/static/image/main-image18.jpg" alt=""></li>
                        <li><img src="/static/image/main-image18.jpg" alt=""></li>
                    </ul>
                </div>
                <div>
                    <p>고려제강기념관 그리고 망미단길</p>
                    현대 모터스튜디오 부산 주변에도 볼거리가 많다. F1963 바로 뒤에 있는 '고려제강기념관'은 고려제강과 와이어산업의 역사를 살펴볼 수 있는 곳이다. 와이어를 만드는 회사답게
                    와이어로만 건물을 지탱하도록 설계를 해서 건축물이라기보다 예술 작품을 보는 듯한 느낌이 든다. 잔디를 심어 언덕처럼 꾸며 놓은 옥상에 오르면 센텀시티가 발 아래로 시원스럽게
                    펼쳐진다.
                    <br><br>
                    멀지 않은 곳에 수영사적공원도 있다. 조선시대 남해안 4군영을 관할했던 경상좌도수군절도사영이 있던 자리로 임진왜란 때 수영성을 지키다가 목숨을 잃은 25명을 모신 25의용단과
                    조선시대 독도 지킴이였던 안용복 장군 사당 등 역사 유적들이 많다. 지하철 3호선 망미역 주변에 위치한 '망미단길'은 빈티지한 골목 감성에 예쁜 카페와 맛집들이 더해져 청춘들의
                    발길이 잦다. 컨테이너 박스로 만든 복합문화공간 '비콘그라운드'가 최근에 문을 열면서 더욱 트렌디한 공간으로 자리매김 하고 있다.﻿
                </div>
                <div class="tag inner-wrap">
                    <h5 style="margin-right: 5px;" class="tag-tit">연관태그</h5>
                    <ul class="taglist">
                        <li><a href="#" title="새창열림">#부산여행</a></li>
                        <li><a href="#" title="새창열림">#부산이색여행</a></li>
                        <li><a href="#" title="새창열림">#부산명소</a></li>
                        <li><a href="#" title="새창열림">#부산가볼만한곳</a></li>
                        <li><a href="#" title="새창열림">#복합문화공간</a></li>
                        <li><a href="#" title="새창열림">#전시관</a></li>
                        <li><a href="#" title="새창열림">#부산데이트코스</a></li>
                        <li><a href="#" title="새창열림">#핫플레이스</a></li>
                        <li><a href="#" title="새창열림">#현대모터스튜디오부산</a></li>
                        <li><a href="#" title="새창열림">#당일여행</a></li>
                        <li><a href="#" title="새창열림">#문화여행</a></li>
                        <li><a href="#" title="새창열림">#사계절</a></li>
                        <li><a href="#" title="새창열림">#실내여행지</a></li>
                        <li><a href="#" title="새창열림">#친구와함께</a></li>
                        <li><a href="#" title="새창열림">#연인과함께</a></li>
                        <li><a href="#" title="새창열림">#혼자가는여행</a></li>
                        <li><a href="#" title="새창열림">#가족여행</a></li>
                        <li><a href="#" title="새창열림">#아이와함께</a></li>
                        <li><a href="#" title="새창열림">#이달의부산여행</a></li>
                        <li><a href="#" title="새창열림">#9월부산여행</a></li> 
                    </ul>
                </div>
            </div>
        </main>
    </div>
</body>

</html>