<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ModifyPost</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/post/modify-post.css">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    
    <!-- include summernote css/js -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    
    <!-- include libraries(jQuery, bootstrap) -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/header.css">

    <script>
        $(document).ready(function () {
            $('#summernote').summernote({
                height: 1440,                 // 에디터 높이
                minHeight: 1440,             // 최소 높이
                maxHeight: 1440,             // 최대 높이
                focus: true,                  // 에디터 로딩후 포커스를 맞출지 여부
                lang: "ko-KR",					// 한글 설정
                callbacks: {	//여기 부분이 이미지를 첨부하는 부분
                    onImageUpload: function (files) {
                        uploadSummernoteImageFile(files[0], this);
                    },
                    onPaste: function (e) {
                        var clipboardData = e.originalEvent.clipboardData;
                        if (clipboardData && clipboardData.items && clipboardData.items.length) {
                            var item = clipboardData.items[0];
                            if (item.kind === 'file' && item.type.indexOf('image/') !== -1) {
                                e.preventDefault();
                            }
                        }
                    }
                }
            });
            /**
            * 이미지 파일 업로드
            */
            function uploadSummernoteImageFile(file, editor) {
                data = new FormData();
                data.append("file", file);
                $.ajax({
                    data: data,
                    type: "POST",
                    url: "/uploadSummernoteImageFile",
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        //항상 업로드된 파일의 url이 있어야 한다.
                        console.log(data)
                        $(editor).summernote('insertImage', "/image/" + response.data.url);
                    }
                });
            }
        });
    </script>
</head>

<body>
    <div id="container">
        <header class="header-container">
            <h1 class="brand-logo">
                <a href="#"><img src="/static/image/logo.png" alt="" /></a>
            </h1>
            <div class="menu-container">
                <ul class="all-menu">
                    <li class="sub-menu">
                        <a href="/templates/index.html">HOME</a>
                    </li>
                    <li>
                        <a href="#">부산에가면<i class="fa fa-angle-down"></i></a>
                        <ul>
                            <li><a href="#">명소</a></li>
                            <li><a href="#">음식</a></li>
                            <li><a href="#">숙박</a></li>
                            <li><a href="#">쇼핑</a></li>
                            <li><a href="#">축제</a></li>
                            <li><a href="#">내주변</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="#">추천여행<i class="fa fa-angle-down"></i></a>
                        <ul>
                            <li>
                                <a href="https://www.visitbusan.net/index.do?menuCd=DOM_000000202012000000">일정여행</a>
                            </li>
                            <li>
                                <a href="https://www.visitbusan.net/index.do?menuCd=DOM_000000202002000000">테마여행</a>
                            </li>
                            <li>
                                <a href="https://www.visitbusan.net/index.do?menuCd=DOM_000000202003000000">미식투어</a>
                            </li>
                            <li>
                                <a href="https://www.visitbusan.net/index.do?menuCd=DOM_000000202008000000">해양·체험</a>
                            </li>
                            <li>
                                <a href="https://www.visitbusan.net/index.do?menuCd=DOM_000000202011000000">부산여행 심리
                                    테스트</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="#">여행준비<i class="fa fa-angle-down"></i></a>
                        <ul>
                            <li>
                                <a
                                    href="https://www.visitbusan.net/board/list.do?boardId=BBS_0000007&menuCd=DOM_000000203001000000&contentsSid=61">여행큐레이션</a>
                            </li>
                            <li>
                                <a
                                    href="https://www.visitbusan.net/board/list.do?boardId=BBS_0000007&menuCd=DOM_000000203001000000&contentsSid=61">가이드북&지도</a>
                            </li>
                            <li>
                                <a href="https://www.visitbusan.net/index.do?menuCd=DOM_000000203013000000">문화관광해설사</a>
                            </li>
                            <li>
                                <a href="https://www.visitbusan.net/index.do?menuCd=DOM_000000203014000000">여행준비정보</a>
                            </li>
                            <li>
                                <a href="https://www.visitbusan.net/index.do?menuCd=DOM_000000203015000000">뉴스레터</a>
                            </li>
                            <li>
                                <a href="https://www.visitbusan.net/index.do?menuCd=DOM_000000203016000000">관광안내소</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="#">유용한정보<i class="fa fa-angle-down"></i></a>
                        <ul>
                            <li>
                                <a
                                    href="https://www.visitbusan.net/board/list.do?boardId=BBS_0000001&menuCd=DOM_000000204001000000&contentsSid=71">공지</a>
                            </li>
                            <li>
                                <a href="https://www.visitbusan.net/index.do?menuCd=DOM_000000204002000000">이벤트&설문</a>
                            </li>
                            <li>
                                <a
                                    href="https://www.visitbusan.net/schedule/list.do?boardId=BBS_0000009&menuCd=DOM_000000204012000000&contentsSid=447">공연&행사</a>
                            </li>
                            <li>
                                <a href="https://www.visitbusan.net/index.do?menuCd=DOM_000000204005000000">부산여행상품</a>
                            </li>
                            <li>
                                <a href="https://www.visitbusan.net/index.do?menuCd=DOM_000000204021000000">부산관광브랜드</a>
                            </li>
                            <li>
                                <a
                                    href="https://www.visitbusan.net/board/list.do?boardId=BBS_0000008&menuCd=DOM_000000204008000000&contentsSid=78">부산여행영상</a>
                            </li>
                            <li>
                                <a href="https://www.visitbusan.net/index.do?menuCd=DOM_000000204009000000">부산여행사진</a>
                            </li>
                            <li>
                                <a href="https://www.visitbusan.net/index.do?menuCd=DOM_000000204007000000">여행공유</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <ul class="account-container">
                <li><a href="/">검색하기</a></li>
                <li><a href="account/login" style="color: #2172dd">로그인</a></li>
                <li><a href="account/register">회원가입</a></li>
            </ul>

            <select style="margin-left: 8px">
                <option value="">Language</option>
                <option value="/kr/index.do">한국어</option>
                <option value="/en/index.do">English</option>
                <option value="/zhs/index.do">中文(简体)</option>
                <option value="/zht/index.do">中文(繁體)</option>
                <option value="/ja/index.do">日本語</option>
            </select>
        </header>

        <main class="main-container">
            <header class="main-header">
                <div class="category-container">
                    <i class="fa-solid fa-house"></i>
                    <span><b>부산에 가면  >  <span class="category-monitor"></span></b></span>
                </div>
                <div class="header-title">
                    <div class="category-tags-selector">
                        <div class="category-selector-container">
                            <h2>카테고리</h2>
                            <select class="category-selector">
                            </select>
                        </div>
                        <ul class="tags-selector-container">
                            <h2>태그선택(중복가능)</h2>
                        </ul>
                    </div>
                    <input type="text" class="main-title" placeholder="제목">
                    <input type="text" class="sub-title" placeholder="부제목">
                </div>
            </header>

            <div class="main-content">
                <div class="img-upload-container">
                    <div class="thumbnail-upload-container">
                        <h2><button class="thumbnail-toggle">링크로 썸네일 이미지 업로드</button></h2>
                        <div class="thumbnail-with-form">
                            <h2>썸네일 업로드 - 파일 직접 업로드</h2>
                            <form action="" class="thumbnail-form">
                                <input type="file" name="file" class="thumbnail-file">
                                <div class="thumbnail-container">
                                    <img src="/static/image/no_img.png" alt="no-img" class="thumbnail">
                                </div>
                            </form>
                        </div>
                        <div class="thumbnail-with-link off">
                            <h2 style="margin-top: 20px;">썸네일 업로드 - 썸네일로 사용할 링크 업로드</h2>
                            <input type="text" class="thumbnail-link" placeholder="썸네일로 사용할 파일의 링크를 입력해주세요.">
                        </div>
                    </div>

                    <div class="mainimg-upload-container">
                        <h2><button class="mainimg-toggle">링크로 메인이미지 업로드</button></h2>
                        <div class="mainimg-with-form">
                            <h2>메인이미지 업로드 - 파일 직접 업로드</h2>
                            <form action="" class="mainimg-form">
                                <input type="file" name="file" class="mainimg-file">
                                <div class="mainimg-container">
                                    <img src="/static/image/no_img.png" alt="no-img" class="mainimg">
                                </div>
                            </form>
                        </div>
                        <div class="mainimg-with-link off">
                            <h2>메인이미지 업로드 - 메인이미지로 사용할 링크 업로드</h2>
                            <input type="text" class="mainimg-link" placeholder="메인이미지로 사용할 파일의 링크를 입력해주세요.">
                        </div>
                    </div>
                </div>
                <ul class="main-navigation">
                    <li><b class="article-button">상세정보</b></li>
                    <li><b class="usage-button">이용/교통안내</b></li>
                </ul>

                <div class="content-container">
                    <div class="main-article">
                        <form action="/uploadSummernoteImageFile" method="post">
                            <textarea id="summernote" name="editordata"></textarea>
                        </form>
                    </div>

                    <div class="main-usage-information off">
                        <div class="information-container">
                            <h2>홈페이지</h2>
                            <input type="text" class="homepage-input">
                        </div>
                        <div class="information-container">
                            <h2>연락처</h2>
                            <input type="text" class="number-input">
                        </div>
                        <div class="information-container">
                            <h2>휴무일</h2>
                            <input type="text" class="offday-input">
                        </div>
                        <div class="information-container">
                            <h2>운영 및 시간</h2>
                            <input type="text" class="runtime-input">
                        </div>
                        <div class="information-container">
                            <h2>이용요금</h2>
                            <input type="text" class="usingfee-input">
                        </div>
                        <div class="information-container">
                            <h2>대표메뉴</h2>
                            <input type="text" class="mainmenu-input">
                        </div>
                        <div class="information-container">
                            <h2>편의시설</h2>
                            <input type="text" class="convenient-input">
                        </div>
                        <div class="information-container">
                            <h2>기타정보</h2>
                            <input type="text" class="other-input">
                        </div>
                        <div class="information-container">
                            <h2>교통정보</h2>
                            <input type="text" class="traffic-input">
                        </div>
                    </div>
                    <div class="buttons">
                        <button class="get-content-button">내용 다시 가져오기</button>
                        <button class="modify-button">수정</button>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="/static/js/account/principal.js"></script>
    <script src="/static/js/post/modify-post.js"></script>
    <script>
        $(".menu-container li").hover(
          function () {
            $("ul", this).stop().slideDown(200);
          },
          function () {
            $("ul", this).stop().slideUp(200);
          }
        );
      </script>
</body>

</html>