<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <!-- <link rel="stylesheet" href="/static/css/post/index.css"> -->
    <link rel="stylesheet" href="/static/css/post/post.css">
</head>

<body>
    <div id="container">
        <header class="header-container">

        </header>

        <main class="main-container" style="background: none;">
            <header class="main-header">
                <div class="category-container">
                    <div class="category-navigator">
                        <i class="fa-solid fa-house"></i>
                        <a href="http://localhost:8000/search?categoryId=0"><b>부산에 가면&nbsp;&nbsp;>&nbsp;&nbsp;</b></a>
                    </div>
                    <div class="modify-buttons">
                    </div>
                </div>

                <div class="header-title">
                    <h2 class="main-title">제목</h2>
                    <h4 class="sub-title">지은이</h4>
                </div>
            </header>
            <div class="main-content">
                <div class="main-img-container">
                    <img src="" alt="" class="main-img">
                    <div class="main-info-container">
                        <div class="main-info">
                            <div class="post-info">
                                <b>평점<b style="color: coral;">★</b></b><span class="post-rating">없음</span> │ <b>조회</b>
                                <span class="post-view">없음</span> │ <b>리뷰</b> <span class="post-review">없음</span> │
                            </div>
                            <div class="post-activity">
                                <button type="button" class="like-button">♥좋아요(<span
                                        class="post-like">0</span>)</button>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="main-navigation">
                    <li><b class="article-button">상세정보</b></li>
                    <li><b class="usage-button">이용안내</b></li>
                    <li><b class="review-button">리뷰</b></li>
                </ul>
                <div class="content-container">

                    <div class="main-article">

                    </div>

                    <div class="main-rule off">
                        <div class="main-map-container">
                            
                        </div>
                        <div class="rule-container">
                            <div class="rule-name-dot">
                                <h2 class="rule-name">전화번호</h2><b class="rule-dot">ㆍ</b>
                            </div>
                            <span class="rule-content tellnumber">0000000</span>
                        </div>
                        <div class="rule-container">
                            <div class="rule-name-dot">
                                <h2 class="rule-name">홈페이지</h2><b class="rule-dot">ㆍ</b>
                            </div>
                            <span class="rule-content homepageurl">0000000</span>
                        </div>
                        <div class="rule-container">
                            <div class="rule-name-dot">
                                <h2 class="rule-name">휴무일</h2><b class="rule-dot">ㆍ</b>
                            </div>
                            <span class="rule-content holidayinfo">0000000</span>
                        </div>
                        <div class="rule-container">
                            <div class="rule-name-dot">
                                <h2 class="rule-name">편의시설</h2><b class="rule-dot">ㆍ</b>
                            </div>
                            <span class="rule-content handicappedarea">0000000</span>
                        </div>
                        <div class="rule-container">
                            <div class="rule-name-dot">
                                <h2 class="rule-name">이용시간</h2><b class="rule-dot">ㆍ</b>
                            </div>
                            <span class="rule-content usagedayandtime">0000000</span>
                        </div>
                        <div class="rule-container">
                            <div class="rule-name-dot">
                                <h2 class="rule-name">이용요금</h2><b class="rule-dot">ㆍ</b>
                            </div>
                            <span class="rule-content usageamount">0000000</span>
                        </div>
                        <div class="rule-container">
                            <div class="rule-name-dot">
                                <h2 class="rule-name">대표메뉴</h2><b class="rule-dot">ㆍ</b>
                            </div>
                            <span class="rule-content mainmenu">0000000</span>
                        </div>
                        <div class="rule-container">
                            <div class="rule-name-dot">
                                <h2 class="rule-name">교통정보</h2><b class="rule-dot">ㆍ</b>
                            </div>
                            <span class="rule-content trafficinfo">0000000</span>
                        </div>
                        <div class="rule-container">
                            <div class="rule-name-dot">
                                <h2 class="rule-name">기타</h2><b class="rule-dot">ㆍ</b>
                            </div>
                            <span class="rule-content etcinfo">0000000</span>
                        </div>
                    </div>
                    <div class="main-review off">
                        <header class="review-header">
                            <h2 class="header-menu">여행후기 & 정보</h2>
                            <button class="review-write-button" type="button">리뷰작성하기</button>
                        </header>
                        <div class="align-method-selector">
                        </div>
                        <div class="review-container">
                            <div class="review-item">
                                <div class="user-info">
                                    <span class="user-name">이름</span>
                                    <span class="create-date">날짜</span>
                                    <span>★<b class="review-rating">1</b></span>
                                </div>
                                <div class="review-contents">
                                    <span class="visit-status">방문여부</span>
                                    <span class="review-content">
                                        본문 텍스트 공간
                                    </span>
                                    <div class="review-img-container">
                                        <div>
                                            <img src="/static/image/no_img.png" alt="">
                                        </div>
                                        <div>
                                            <img src="/static/image/no_img.png" alt="">
                                        </div>
                                        <div>
                                            <img src="/static/image/no_img.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="modal" class="modal-overlay not-display">
                        <div class="inner-modal">
                            <header class="modal-header">
                                <h2 class="modal-title">리뷰 등록</h2>
                            </header>
                            <div class="modal-container">
                                <div class="modal-items">
                                    <span class="modal-column">리뷰 장소</span>
                                    <span class="modal-value">장소이름</span>
                                </div>
                                <div class="modal-items">
                                    <span class="modal-column">평가</span>
                                    <span class="modal-value">
                                        <span class="modal-rating">
                                            <span class="star-one enable">
                                                ★
                                            </span>
                                            <span class="star-two enable">
                                                ★
                                            </span>
                                            <span class="star-three enable">
                                                ★
                                            </span>
                                            <span class="star-four enable">
                                                ★
                                            </span>
                                            <span class="star-five enable">
                                                ★
                                            </span>
                                        </span>
                                    </span>
                                </div>
                                <div class="modal-items">
                                    <span class="modal-column">방문 여부</span>
                                    <span class="modal-value">
                                        <select class="visit-status-selector">
                                            <option value="1">방문했어요</option>
                                            <option value="2">방문전입니다</option>
                                        </select>
                                    </span>
                                </div>
                                <div class="modal-items">
                                    <span class="modal-column">여행사진</span>
                                    <span class="modal-value">
                                        <div class="modal-input-container">
                                            <div class="modal-input-items">
                                                <img src="/static/image/no_img.png" alt="#"
                                                    class="modal-input-image image-one">
                                                <form action="" class="form-one">
                                                    <input type="file" name="file" class="modal-input input-one">
                                                </form>
                                            </div>
                                            <div class="modal-input-items">
                                                <img src="/static/image/no_img.png" alt="#"
                                                    class="modal-input-image image-two">
                                                <form action="" class="form-two">
                                                    <input type="file" name="file" class="modal-input input-two">
                                                </form>
                                            </div>
                                            <div class="modal-input-items">
                                                <img src="/static/image/no_img.png" alt="#"
                                                    class="modal-input-image image-three">
                                                <form action="" class="form-three">
                                                    <input type="file" name="file" class="modal-input input-three">
                                                </form>
                                            </div>
                                        </div>
                                    </span>
                                </div>
                                <div class="modal-items">
                                    <span class="modal-column">리뷰내용</span>
                                    <span class="review-place">
                                        <textarea class="review-content-input" cols="59" rows="5" wrap="hard"
                                            maxlength="300" required></textarea>
                                    </span>
                                </div>
                            </div>
                            <footer class="modal-footer">
                                <div class="modal-buttons">
                                    <button class="modal-submit">등록</button>
                                    <button class="modal-cancel">취소</button>
                                </div>
                            </footer>
                        </div>
                    </div>

                </div>
            </div>
        </main>


        <!-- footer-top -->
        <div class="footer-top" style="margin-top: 1000px;">

        </div>

        <footer class="footer-container">

        </footer>
        <script src="/static/js/account/principal.js"></script>
        <script src="/static/js/component/header.js"></script>
        <script src="/static/js/component/footer.js"></script>
        <script src="/static/js/post/post.js"></script>
    </div>
</body>

</html>