<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Visit Busan login page</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/static/css/reset.css" />
  <link rel="stylesheet" href="/static/css/common.css" />
  <link rel="stylesheet" href="/static/css/header.css" />
  <link rel="stylesheet" href="/static/css/index.css" />
  <link rel="stylesheet" href="/static/css/login/register.css" />
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>
  <div id="container">
    <header class="header-container">

    </header>

    <main class="main-container">
      <section class="register-form">
        <!-- wrapper -->
        <div id="wrapper">
          <!-- content-->
          <div id="content">
            <!-- ID  -->
            <div>
              <h1 style="font-size: 25px; margin-bottom: 50px; margin-top: 20px; text-align: center;">
                VISIT BUSAN LOGIN REGISTER PAGE
              </h1>

              <div class="subs">
                <h3>
                  <label for="subscription">가입유형</label>
                </h3>
                <span class="box sub_code">
                  <select id="subscription" class="sel register-input-subscription">
                    <!-- 5 -->
                    <option>선택하세요.</option>
                    <option value="2">일반</option>
                    <option value="3">작가</option>
                  </select>
                </span>
              </div>

              <h3 class="join_title">
                <label for="username">아이디</label>
              </h3>
              <span class="box int_id">
                <!-- 0 -->
                <input type="text" id="username id" class="int register-input-username" minlength="6" maxlength="18"
                  placeholder="사용하실 아이디를 입력하세요" autocomplete="off" />
              </span>
              <div class="register-error"></div>
              <div class="register-error-text"></div>
            </div>

            <!-- password -->
            <div>
              <h3 class="join_title"><label for="password">비밀번호</label></h3>
              <span class="box int_pass">
                <!-- 1 -->
                <input type="password" class="register-input-password int" id="password" minlength="6" maxlength="18"
                  placeholder="비밀번호를 입력하세요." autocomplete="off" />

                <img id="pswd_img" class="pswdImg" />
              </span>
            </div>
            <div class="register-error"></div>

            <!-- repassword -->
            <div>
              <h3 class="join_title">
                <label for="repassword">비밀번호 재확인</label>
              </h3>
              <span class="box int_pass_check">
                <!-- 2 -->
                <input type="password" class="register-input-repassword int" id="repassword" minlength="6"
                  maxlength="18" placeholder="비밀번호를 다시한번 입력하세요." autocomplete="off" />
                <img  id="pswd_img" class="pswdImg" />
              </span>
            </div>
            <div class="register-error"></div>

            <!-- NAME -->
            <div>
              <h3 class="join_title"><label for="name">이름</label></h3>
              <span class="box int_name">
                <!-- 3 -->
                <input type="text" class="register-input-name int" id="name" maxlength="3" placeholder="이름을 입력하세요" autocomplete="off" />
              </span>
            </div>
            <div class="register-error"></div>

            <!--  -->
            <div>
              <h3 class="join_title"><label for="birth">생년월일</label></h3>
              <span class="box int_birth">
                <!-- 4 -->
                <input type="text" class="register-input-birth int" id="birth" minlength="6" maxlength="6"
                  placeholder="생년월일을 입력하세요 예시)960101" autocomplete="off" />
              </span>
            </div>
            <div class="register-error"></div>

            <!-- GENDER -->
            <div>
              <h3 class="join_title"><label for="gender">성별</label></h3>
              <span class="box gender_code">
                <select id="gender" class="sel register-input-gender">
                  <!-- 5 -->
                  <option>선택하세요.</option>
                  <option value="1">남자</option>
                  <option value="2">여자</option>
                </select>
              </span>
            </div>

            <!-- EMAIL -->
            <div>
              <h3 class="join_title">
                <label for="email">이메일</label>
              </h3>
              <span class="box int_email">
                <!-- 6 -->
                <input type="text" class="register-input-email int" id="email" maxlength="100" placeholder="선택입력" autocomplete="off" />
              </span>
            </div>
            <div class="register-error"></div>

            <!-- MOBILE -->
            <div>
              <h3 class="join_title">
                <label for="tellNumber">휴대전화</label>
              </h3>
              <span class="box int_mobile">
                <!-- 7 -->
                <input type="tel" class="register-input-tellNumber int" id="tellNumber" minlength="11" maxlength="11"
                  placeholder="전화번호 입력" autocomplete="off"/>
              </span>
            </div>
            <div class="register-error"></div>

            <div class="location-agree">
              <h3>
                <label for="subscription">위치정보 수집동의</label>
              </h3>
              <span class="box location_code">
                <select id="subscription-location" class="sel register-input-location-lng">
                  <!-- 5 -->
                  <option>선택하세요.</option>
                  <option value="1">동의</option>
                  <option value="0">비동의</option>
                </select>
                <select id="subscription-location" class="sel register-input-location-lat" style="display: none;">
                  <!-- 5 -->
                  <option value="1">동의</option>
                  <option value="0">비동의</option>
                </select>
              </span>
            </div>

            <div class="marketing-agree">
              <h3>
                <label for="subscription">마케팅 수신동의</label>
              </h3>
              <span class="box marketing_code">
                <select id="subscription-marketing" class="sel register-input-marketing">
                  <!-- 5 -->
                  <option>선택하세요.</option>
                  <option value="1">동의</option>
                  <option value="0">비동의</option>
                </select>
              </span>
            </div>

            <!--  -->

            <!-- JOIN BTN-->
            <div class="btn_area">
              <button type="button" id="btnJoin">
                <span>가입하기</span>
              </button>
            </div>
          </div>
          <!-- content-->
        </div>
      </section>
    </main>
    <div class="footer-top">

    </div>

    <footer class="footer-container">

    </footer>
  </div>
  <script src="/static/js/account/principal.js"></script>
  <script src="/static/js/component/header.js"></script>
  <script src="/static/js/component/footer.js"></script>
  <script src="/static/js/login/register.js"></script>
</body>

</html>