<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Visit Busan find page</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/static/css/reset.css" />
  <link rel="stylesheet" href="/static/css/common.css" />
  <link rel="stylesheet" href="/static/css/header.css" />
  <link rel="stylesheet" href="/static/css/index.css" />
  <link rel="stylesheet" href="/static/css/login.css" />
  <link rel="stylesheet" href="/static/css/login/find.css" />
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>
  <div id="container">
    <header class="header-container">

    </header>

    <main class="main-container">
      <section class="login-form" style="padding-top: 80px;">
        <h1>VISIT BUSAN ID FIND</h1>
        <form>
          <div class="int-area area-name">

          </div>

          <div class="int-area area-tellNumber">

          </div>

          <div class="int-area area-email">

          </div>
          
          <div class="btn-area">
            <button id="btn" type="button">회원정보 변경</button>
          </div>
          
        </form>
      </section>
    </main>
    <div class="footer-top">

    </div>

    <footer class="footer-container">

    </footer>
  </div>
  <script src="/static/js/account/principal.js"></script>
  <script src="/static/js/component/header.js"></script>
  <script src="/static/js/component/footer.js"></script>
  <script src="/static/js/login/update_profile.js"></script>

</body>

</html>