body {
    background-color: white;
}

#container {
    background-color: #dbdbdb;
}

.main-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */

    background-size: 100%;

    padding: 120px 100px;

    height: 6400px;
}

.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-container {
    display: flex;
    align-items: center;

    background-color: rgb(249, 249, 249);

    width: 1000px;
    height: 70px;
    border-radius: 3px;
}

.fa-house {
    margin: 0px 50px;
    font-size: 20px;
}

.category-container span b {
    font-size: 20px;
}

.header-title {
    margin-top: 80px;
}

.header-title h2 {
    font-size: 40px;
}

.header-title h4 {
    font-size: 15px;
}

.main-content {
    width: 100%;
    height: 1800px;
}

.main-img {
    position: relative;
    display: flex;
    justify-content: center;

    margin-top: 60px;

    border-radius: 5px;

    /* background-color: rgb(131, 161, 125); */
    /* background: no-repeat; */
    width: 100%;
    height: 320px;
}

.main-info {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: space-between;

    overflow: hidden;
    bottom: 0;
    width: 90%;
    height: 60px;
    background-color: white;

    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.post-info {
    margin-left: 20px;
    font-size: 18px;
}

.post-info b,
span {
    font-size: 20px;
}

.post-activity {
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    width: 140px;
    height: 100%;
    background-color: #1442a1;
}

.like-button {
    width: 112%;
    height: 105%;
    background-color: #1442a1;

    font-size: 15px;
}

.main-navigation {
    display: flex;
    justify-content: space-around;

    margin-top: 60px;
    padding: 0;
    /* padding-bottom: 20px; */
    font-size: 30px;

    width: 1000px;
}

.main-navigation li a {
    font-size: 16px;
}

.main-navigation li a:hover {
    color: blue;
}

.main-article {
    background-color: white;
    width: 1000px;
    height: 1500px;
}

.tit {
    margin-top: 40px;
}