<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visit Busan</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div id="container">
        <header class="header-container">
            <h1 class="brand-logo">
                <a href="#"><img src="/static/image/logo.png" alt=""></a>
            </h1>
            <ul class="menu-container">
                <li><a href="#">부산에가면</a></li>
                <li><a href="#">추천여행</a></li>
            </ul>
            <ul class="account-container">
                <li><a>로그인</a></li>
                <li><a>회원가입</a></li>
            </ul>
        </header>
        
        <main class="main-container">
            <div class="main-search-border">
                <span class="search-type-text">명소검색</span>
                <input type="text" class="search-input">
                <button class="search-button">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>   
            </div>
            <div class="main-map-container">
                KakaoMap이 들어올 공간입니다.
            </div>
        </main>

        <footer class="footer-container">
            <div class="footer-content">
                <h1 class="footer-title"> 제공 </h1>
                <img src="/static/image/logo.png"class="footer-logo">
                <div class="footer-contract">
                    <b><a href="">개인정보처리방침</a></b>
                    <b><a href="">저작권보호정책</a></b>
                    <b><a href="">약관</a></b>
                    <b><a href="">행정서비스현황</a></b>
                    <b><a href="">뷰어다운로드</a></b>
                </div> 
                <h2>Copyright Busan Metropolitan City. All rights reserved.</h2>
            </div>
            <div class="footer-content">
                <h1>관광 문의</h1>
                <h2><b class="footer-number">1330</b></h2>
                <img src="/static/image/WAQC.png" alt="" class="qualify">
            </div>
            <div class="footer-content">
                <h1>민원 대표 전화</h1>
                <h2><b class="footer-number">051-120</b></h2>
                <p class="footer-text">평일 08:30 - 18:30</p>
                <p class="footer-text">※야간/공휴일 등 근무시간외는 당직실로 전환.</p>
                <div class="buttons">
                    <button type="button">부산문화포탈 다봄</button>
                    <button type="button">여행상담</button>
                </div>
            </div>
            
        </footer>
    </div>
</body>
</html>