<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Visit Busan</title>
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <!-- <script src="https://cdn.tailwindcss.com"></script> -->
  <!-- kakaomap api -->
  <script type="text/javascript"
    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=735b92da3af25f4c73fbd7671b50849e&libraries=service,clusterer,drawing"></script>
  <!-- fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="/static/css/reset.css" />
  <link rel="stylesheet" href="/static/css/common.css" />
  <link rel="stylesheet" href="/static/css/header.css" />
  <link rel="stylesheet" href="/static/css/post/index.css" />
  <link rel="stylesheet" href="/static/css/index.css" />
  <link rel="stylesheet" href="/static/css/post/kakaomap.css" />
</head>

<body>
  <div id="container">
    <header class="header-container">

    </header>
    <main class="main-container" style="background: url(/static/image/indexbackground.jpg); background-size: 100%;">
        <div>

        </div>
    </main>
    <!-- footer-top -->
    <div class="footer-top">

    </div>

    <footer class="footer-container">
      
    </footer>
  </div>
  <script src="/static/js/account/principal.js"></script>
  <script src="/static/js/component/header.js"></script>
  <script src="/static/js/component/footer.js"></script>
  <script src="/static/js/index.js"></script>
  <script type="text/javascript" src="/static/js/kakaomap/kakao.js"></script>
  <script charset="UTF-8" src="https://t1.daumcdn.net/mapjsapi/js/main/4.4.8/kakao.js"></script>
  <script charset="UTF-8" src="https://t1.daumcdn.net/mapjsapi/js/libs/services/1.0.2/services.js"></script>
</body>

</html>