<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Visit Busan login page</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/static/css/reset.css" />
    <link rel="stylesheet" href="/static/css/common.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="stylesheet" href="/static/css/login.css" />
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  </head>
  <body>
    <div id="container">
      <header class="header-container">
        <h1 class="brand-logo">
          <a href="#"><img src="/static/image/logo.png" alt="" /></a>
        </h1>
        <div class="menu-container">
          <ul class="all-menu">
            <li class="sub-menu">
              <a href="/templates/index.html">HOME</a>
            </li>
            <li>
              <a href="#">부산에가면<i class="fa fa-angle-down"></i></a>
              <ul>
                <li><a href="#">명소</a></li>
                <li><a href="#">음식</a></li>
                <li><a href="#">숙박</a></li>
                <li><a href="#">쇼핑</a></li>
                <li><a href="#">축제</a></li>
                <li><a href="#">내주변</a></li>
              </ul>
            </li>
            <li class="sub-menu">
              <a href="#">추천여행<i class="fa fa-angle-down"></i></a>
              <ul>
                <li>
                  <a href="https://www.visitbusan.net/index.do?menuCd=DOM_000000202012000000">일정여행</a>
                </li>
                <li>
                  <a href="https://www.visitbusan.net/index.do?menuCd=DOM_000000202002000000">테마여행</a>
                </li>
                <li>
                  <a href="https://www.visitbusan.net/index.do?menuCd=DOM_000000202003000000">미식투어</a>
                </li>
                <li>
                  <a href="https://www.visitbusan.net/index.do?menuCd=DOM_000000202008000000">해양·체험</a>
                </li>
                <li>
                  <a href="https://www.visitbusan.net/index.do?menuCd=DOM_000000202011000000">부산여행 심리 테스트</a>
                </li>
              </ul>
            </li>
            <li class="sub-menu">
              <a href="#">여행준비<i class="fa fa-angle-down"></i></a>
              <ul>
                <li>
                  <a
                    href="https://www.visitbusan.net/board/list.do?boardId=BBS_0000007&menuCd=DOM_000000203001000000&contentsSid=61">여행큐레이션</a>
                </li>
                <li>
                  <a
                    href="https://www.visitbusan.net/board/list.do?boardId=BBS_0000007&menuCd=DOM_000000203001000000&contentsSid=61">가이드북&지도</a>
                </li>
                <li>
                  <a href="https://www.visitbusan.net/index.do?menuCd=DOM_000000203013000000">문화관광해설사</a>
                </li>
                <li>
                  <a href="https://www.visitbusan.net/index.do?menuCd=DOM_000000203014000000">여행준비정보</a>
                </li>
                <li>
                  <a href="https://www.visitbusan.net/index.do?menuCd=DOM_000000203015000000">뉴스레터</a>
                </li>
                <li>
                  <a href="https://www.visitbusan.net/index.do?menuCd=DOM_000000203016000000">관광안내소</a>
                </li>
              </ul>
            </li>
            <li class="sub-menu">
              <a href="#">유용한정보<i class="fa fa-angle-down"></i></a>
              <ul>
                <li>
                  <a
                    href="https://www.visitbusan.net/board/list.do?boardId=BBS_0000001&menuCd=DOM_000000204001000000&contentsSid=71">공지</a>
                </li>
                <li>
                  <a href="https://www.visitbusan.net/index.do?menuCd=DOM_000000204002000000">이벤트&설문</a>
                </li>
                <li>
                  <a
                    href="https://www.visitbusan.net/schedule/list.do?boardId=BBS_0000009&menuCd=DOM_000000204012000000&contentsSid=447">공연&행사</a>
                </li>
                <li>
                  <a href="https://www.visitbusan.net/index.do?menuCd=DOM_000000204005000000">부산여행상품</a>
                </li>
                <li>
                  <a href="https://www.visitbusan.net/index.do?menuCd=DOM_000000204021000000">부산관광브랜드</a>
                </li>
                <li>
                  <a
                    href="https://www.visitbusan.net/board/list.do?boardId=BBS_0000008&menuCd=DOM_000000204008000000&contentsSid=78">부산여행영상</a>
                </li>
                <li>
                  <a href="https://www.visitbusan.net/index.do?menuCd=DOM_000000204009000000">부산여행사진</a>
                </li>
                <li>
                  <a href="https://www.visitbusan.net/index.do?menuCd=DOM_000000204007000000">여행공유</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
  
        <ul class="account-container">
          <li><a href="/">검색하기</a></li>
          <li><a href="account/login" style="color: #2172dd">로그인</a></li>
          <li><a href="account/register">회원가입</a></li>
        </ul>
  
        <select style="margin-left: 8px">
          <option value="">Language</option>
          <option value="/kr/index.do">한국어</option>
          <option value="/en/index.do">English</option>
          <option value="/zhs/index.do">中文(简体)</option>
          <option value="/zht/index.do">中文(繁體)</option>
          <option value="/ja/index.do">日本語</option>
        </select>
      </header>

      <main class="main-container">
        <section class="login-form">
          <h1>VISIT BUSAN LOGIN</h1>
          <form action="">
            <div class="int-area">
              <input
                type="text"
                name="id"
                id="id"
                autocomplete="off"
                required
              /><label for="id">아이디</label>
            </div>
            <div class="int-area">
              <input
                type="password"
                name="pw"
                id="pw"
                autocomplete="off"
                required
              /><label for="pw">비밀번호</label>
            </div>
            <div class="btn-area">
              <button id="btn" type="submit">로그인</button>
            </div>
            <div class="caption">
              <a href="">비밀번호를 잊으셨습니까??</a>
            </div>
            <div class="caption">
              <a href="">구글 로그인</a>
            </div>
          </form>
        </section>
      </main>
    </div>
    <script src="../../static/js/login/login.js"></script>
  </body>
</html>
