<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Visit Busan login page</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/static/css/reset.css" />
    <link rel="stylesheet" href="/static/css/common.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="stylesheet" href="/static/css/login.css" />
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  </head>
  <body>
    <div id="container">
      <header class="header-container">
        <h1 class="brand-logo">
          <a href="#"><img src="/static/image/logo.png" alt="" /></a>
        </h1>
        <ul class="menu-container">
          <li><a href="#">부산에가면</a></li>
          <li><a href="#">추천여행</a></li>
        </ul>
        <ul class="account-container">
          <li><a>로그인</a></li>
          <li><a>회원가입</a></li>
        </ul>
      </header>

      <main class="main-container">
        <section class="login-form">
          <h1>VISIT BUSAN LOGIN</h1>
          <form action="">
            <div class="int-area">
              <input
                type="text"
                name="id"
                id="id"
                autocomplete="off"
                required
              /><label for="id">아이디</label>
            </div>
            <div class="int-area">
              <input
                type="password"
                name="pw"
                id="pw"
                autocomplete="off"
                required
              /><label for="pw">비밀번호</label>
            </div>
            <div class="btn-area">
              <button id="btn" type="submit">로그인</button>
            </div>
            <div class="caption">
              <a href="">비밀번호를 잊으셨습니까??</a>
            </div>
            <div class="caption">
              <a href="">구글 로그인</a>
            </div>
          </form>
        </section>
      </main>
    </div>
    <script src="../../static/js/login/login.js"></script>
  </body>
</html>
