<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>visit-busan 관리자 페이지</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/admin/reset.css">
    <link rel="stylesheet" href="/static/css/admin/common.css">
    <link rel="stylesheet" href="/static/css/admin/gnb.css">
    <link rel="stylesheet" href="/static/css/admin/lnb.css">
    <link rel="stylesheet" href="/static/css/admin/tour/tour_common.css">
    <link rel="stylesheet" href="/static/css/admin/dashboard/tour_dashboard.css">
    
</head>
<body>
    <div id="container">
        <header class="header-container">
            <div class="brand-logo">
                <a href="/admin/dashboard"><img src="/static/image/logo.png" alt=""></a>
            </div>
            <ul class="account-container">
                <li><a href="/logout">로그아웃</a></li>
            </ul>
        </header>
        
        <main class="main-container">
            <aside class="left-aside">
                <div class="aside-title">
                    <h1 class="title-text-h1">관리자 시스템</h1>
                </div>
                <nav class="main-menu">
                    <h2 class="title-text-h2">대시보드</h2>
                    <ul class="sub-menu">
                        <a href="/admin/dashboard"><li>대시보드</li></a>
                    </ul>
                    <h2 class="title-text-h2">관광정보 관리</h2>
                    <ul class="sub-menu">
                        <a href="/admin/tour/category"><li>관광지 분류</li></a>
                        <a href="/admin/tour/manage/tour_search"><li>관광정보 관리</li></a>
                        <a href="/admin/tour/manage/tour_tag"><li>관광태그 관리</li></a>
                    </ul>
                    <h2 class="title-text-h2">사용자 관리</h2>
                    <ul class="sub-menu">
                        <a href="/admin/user/info"><li>사용자 정보 관리</li></a>
                        <a href="/admin/user/role"><li>사용자 권한 관리</li></a>
                    </ul>
                </nav>
            </aside>    
            <div class="content-container">
                <h1 class="content-title">대시보드</h1>
                <div class="content-main">
                    <div class="content-items">
                        <div class="left-items">
                            <h2 class="content-count">게시글 수 : 123건</h2>
                        </div>
                        <div class="right-items">
                            <select class="category-select">
                                <option value="">전체조회</option>
                                <option value="명소">명소</option>
                                <option value="맛집">맛집</option>
                            </select>
                            <select class="category-select">
                                <option value="name">관광지 이름</option>
                                <option value="code">관광지 코드</option>
                                <option value="writer">작성자</option>
                            </select>
                            <input type="search" class="search-input">
                            <button type="button" class="search-button">검색</button>
                        </div>
                    </div>
                    <div class="map-container">
                        KakaoMap 영역
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="/static/js/admin/book_search.js"></script>
</body>
</html>